NET "CLK" 		LOC="C9"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.0ns;
NET "RST" 		LOC="V4"  | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;
NET "INT" 		LOC="V16" | IOSTANDARD = LVCMOS33;

NET "DAC_MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8  ;
NET "DAC_SCLK" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CS"   LOC = "N8"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CLR"  LOC = "P8"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#--LCD
NET "LCD[7]" LOC="F12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "LCD[6]" LOC="M18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "LCD[5]" LOC="L18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "LCD[4]" LOC="L17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "LCD[3]" LOC="M15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "LCD[2]" LOC="P17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "LCD[1]" LOC="R16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "LCD[0]" LOC="R15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;

#--SPI devices
NET "flash" 		LOC="U3" | IOSTANDARD = LVCMOS33;
NET "preamp" 	LOC="N7" | IOSTANDARD = LVCMOS33;
NET "adc" 		LOC="P11"| IOSTANDARD = LVCMOS33;
NET "ceo" 		LOC="D16"| IOSTANDARD = LVCMOS33;
NET "prom" 		LOC="T3"| IOSTANDARD = LVCMOS33;