//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 28 19:20:35 2024
//! **************************************************************************

SCHEMATIC START;
COMP "inputs<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "inputs<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "inputs<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "inputs<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "inputs<4>" LOCATE = SITE "D18" LEVEL 1;
COMP "inputs<5>" LOCATE = SITE "K17" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "inputs<6>" LOCATE = SITE "H13" LEVEL 1;
COMP "inputs<7>" LOCATE = SITE "V4" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "reset" LOCATE = SITE "V16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

