//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 12 08:58:19 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LCD1<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "LCD1<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "LCD1<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "LCD1<4>" LOCATE = SITE "L17" LEVEL 1;
COMP "LCD1<5>" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD1<6>" LOCATE = SITE "M18" LEVEL 1;
COMP "LCD1<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "STRAT" LOCATE = SITE "D16" LEVEL 1;
COMP "INT" LOCATE = SITE "V16" LEVEL 1;
COMP "RST" LOCATE = SITE "V4" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "LCD1<0>" LOCATE = SITE "R15" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

