
NET "CLK" 		LOC="V10"  | IOSTANDARD = LVCMOS33 | PERIOD = 10.0ns;
NET "RST" 		LOC="C4"   | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "INT" 		LOC="D9"   | IOSTANDARD = LVCMOS33;

#--inputs
NET "INPUT[7]" LOC="T5"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[6]" LOC="V8"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[5]" LOC="U8"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[4]" LOC="N8"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[3]" LOC="M8"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[2]" LOC="V9"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[1]" LOC="T9"  | IOSTANDARD = LVCMOS33 ;
NET "INPUT[0]" LOC="T10" | IOSTANDARD = LVCMOS33 ;

#--servos
NET "SERVO_0" 		LOC="T12"   ;
NET "SERVO_1" 		LOC="V12"   ;

